<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
	<!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
	<packageSources>
		<add key="NoP77svk" value="https://nuget.pkg.github.com/nop77svk/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<NoP77svk>
			<add key="Username" value="anyone" />
			<add key="ClearTextPassword" value="%NOP77SVK.GITHUB_PKG_TOKEN%" />
		</NoP77svk>
	</packageSourceCredentials>
</configuration>
