{
	"UseVerboseFeedback": false,
	"JiraServer": {
		"BaseUrl": "https://example.company.org/jira/",
		"Flavour": "Vanilla",
		"MaxConnectionsPerServer": 4,
		"UseProxy": false,
		"SkipSslCertificateCheck": false
	},
	"User": {
		"Name": "my Jira user name",
		"Password": "my Jira password"
	},
	"CsvOptions": {
		"FieldDelimiter": ","
	}
}
