{
	"UseVerboseFeedback": false,
	"JiraServer": {
		"BaseUrl": "https://example.company.org/jira/",
		"Flavour": "Vanilla",
		"FlavourOptions": {
			"PluginBaseUri": "rest/ictime/1.0",
			"DateFormat": "dd/MMM/yyyy",
			"TimeSpanFormat": "ddd\" d \"hh\" h \"mm\" m\"",
			"ActivityMap": {
				"none": "0",
				"dev": "1",
				"business analysis": "2"
			}
		},
		"MaxConnectionsPerServer": 4,
		"UseProxy": false,
		"SkipSslCertificateCheck": false
	},
	"User": {
		"Name": "my Jira user name",
		"Password": "my Jira password"
	},
	"CsvOptions": {
		"FieldDelimiter": ","
	}
}
