{
	"UseVerboseFeedback": false,
	"JiraServer": {
		"BaseUrl": "https://example.company.org/jira/",
		// available flavours: Vanilla, TempoTimesheets, ICTime
		"Flavour": "Vanilla",
		// warning: ICTime seems to incorrectly recalculate the "Logged"/"Remaining" estimates when multi-day + multi-threaded upload takes place
		"MaxConnectionsPerServer": 4,
		"UseProxy": false,
		"SkipSslCertificateCheck": false
	},
	"User": {
		"Name": "my Jira user name",
		"Password": "my Jira password"
	},
	"CsvOptions": {
		"FieldDelimiter": ","
	}
}
