on:
  push:
    branches:
    - main
    tags:
    - "[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Setup .NET
      uses: xt0rted/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Checkout
      uses: actions/checkout@v3
    - name: Generate Changelog
      run: echo "# Good things have arrived" > ${{ github.workspace }}-CHANGELOG.txt
    - name: Set VERSION variable from tag
      run: |
        VERSION=$( git tag | /bin/sort -Vr | head -n 1 )
        echo Current version = ${VERSION}
    - name: Update private NuGet source
      run: |
        dotnet nuget add source \
          --name NoP77svk \
          --username anyone \
          --password ${{ secrets.GITHUB_TOKEN }} \
          --store-password-in-clear-text 'https://nuget.pkg.github.com/nop77svk/index.json' \
        || dotnet nuget update source NoP77svk \
          --username anyone \
          --password ${{ secrets.GITHUB_TOKEN }} \
          --store-password-in-clear-text \
          --source 'https://nuget.pkg.github.com/nop77svk/index.json'
    - name: Pre-Build Phase
      run: |
        dotnet clean -c Release
        dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build
#    - name: Pack
#      run: |
#        dotnet pack -c Release /p:Version=${VERSION} --no-build --output .
#    - name: Push
#      run: dotnet nuget push NoP77svk.*.${VERSION}.nupkg --source https://nuget.pkg.github.com/nop77svk/index.json --api-key ${GITHUB_TOKEN}
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Prepare releases
      run: |
        mkdir _publish.all
    - name: Windows x64 Build
      run: |
        dotnet publish ./jwl.console -c Release -o ./_publish.win-x64 -r win-x64 --self-contained --no-restore
        cd ./_publish.win-x64
        cp ../LICENSE .
        zip -r9v ../_publish.all/jira-worklogger.${VERSION}.win.x64.zip .
        cd ..
#    - name: Linux x64 Build
#      run: |
#        dotnet publish -c Release -o ./_publish.linux-x64 -r linux-x64 --self-contained
#        cd ./_publish.linux-x64
#        cp ../LICENSE .
#        tar cv . | gzip -9c > ../_publish.all/jira-worklogger.${VERSION}.linux.x64.tgz
#        cd ..
    - name: Portable Build
      run: |
        dotnet publish ./jwl.console -c Release -o ./_publish.portable --no-self-contained -p:PublishTrimmed=false --no-restore
        cd ./_publish.portable
        cp ../LICENSE .
        zip -r9v ../_publish.all/jira-worklogger.${VERSION}.portable.zip .
        cd ..
    - name: Release All Builds
      uses: softprops/action-gh-release@v1
      if: github.ref_type == 'tag'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        body_path: ${{ github.workspace }}-CHANGELOG.txt
        repository: nop77svk/jira-worklogger
        prerelease: false
        files: |
          ./_publish.all/*.zip
